apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# Namespace is already set directly on the resources in the base.
# namespace: prow
resources:
- ../../base
- ingress.yaml
- httproutes.yaml
- external-plugins/cherrypicker_deployment.yaml
- external-plugins/cherrypicker_service.yaml
- external-plugins/needs-rebase_deployment.yaml
- external-plugins/needs-rebase_service.yaml
- external-plugins/labels_cronjob.yaml
- external-plugins/jenkins-operator.yaml
- pdb.yaml
- limitrange.yaml
- prow-externalsecrets.yaml
- test-pods-externalsecrets.yaml

patches:
- path: patches/crier.yaml
- path: patches/deck.yaml
- path: patches/ghproxy.yaml
- path: patches/hook.yaml
- path: patches/horologium.yaml
- path: patches/prow-controller-manager.yaml
- path: patches/sinker.yaml
- path: patches/statusreconciler.yaml
- path: patches/tide.yaml
# External plugins
- path: patches/cherrypicker.yaml
- path: patches/needs-rebase.yaml
- path: patches/jenkins-operator.yaml
# Run on infra nodes
- path: toleration-node-selector-patch.yaml
  target:
    kind: Deployment
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/instance: metal3
    app.kubernetes.io/part-of: prow

## If there is ever a need to deploy without ESO, the following can be used to create the secrets directly.
# generatorOptions:
#   disableNameSuffixHash: true
# secretGenerator:
# - files:
#   - token=github-token
#   name: github-token
#   namespace: prow
#   type: Opaque
# - files:
#   - token=github-token
#   name: github-token
#   namespace: test-pods
#   type: Opaque
# - files:
#   - hmac=hmac-token
#   name: hmac-token
#   namespace: prow
#   type: Opaque
# - files:
#   - service-account.json
#   name: s3-credentials
#   namespace: prow
#   type: Opaque
# - files:
#   - service-account.json
#   name: s3-credentials
#   namespace: test-pods
#   type: Opaque
# - files:
#   - token=cherrypick-bot-github-token
#   name: cherrypick-bot-github-token
#   namespace: prow
#   type: Opaque
# - files:
#   - token=jenkins-token
#   name: jenkins-token
#   namespace: prow
#   type: Opaque
