{% for bmh in bare_metal_hosts %}
---
apiVersion: v1
kind: Secret
metadata:
  name: bml-ilo-login-secret-{{ bmh.id }}
type: Opaque
data:
  username: "{{ bml_ilo_username | b64encode }}"
  password: "{{ bml_ilo_password | b64encode }}"
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: eselda13u31s{{ bmh.id }}
spec:
  online: true
  bootMACAddress: {{ bmh.mac }}
  bootMode: legacy
  bmc:
    address: ipmi://{{ bmh.ip }}:623
    credentialsName: bml-ilo-login-secret-{{ bmh.id }}
    disableCertificateVerification: true
  rootDeviceHints:
    deviceName: {{ bmh.rootDeviceHint }}
{% endfor %}
