[Unit]
Description=Unseal TPM key and open LUKS volume
DefaultDependencies=no
Before=initrd-switch-root.target
After=initrd-udevadm-cleanup-db.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/etc/unlock-mount-luks.sh || /bin/dracut-emergency'
RemainAfterExit=yes

[Install]
WantedBy=initrd-switch-root.target
