name: Scheduled Check Links

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 1 * *"
  repository_dispatch:
    # run manually
    types: [check-links]
  workflow_call:

permissions: {}

jobs:
  check-links:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      issues: write

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Link Checker
      id: linkcheck
      uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: |
          --user-agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36 Brave/131"
          --root-dir "$(pwd)/"
          --fallback-extensions "md"
          --github-token "${{ secrets.GITHUB_TOKEN }}"
          --max-concurrency 8
          --max-retries 5
          --retry-wait-time 10
          --insecure
          --exclude-all-private
          --no-progress
          "./**/*.md"
        output: /tmp/lychee_output.md
        fail: false

    - name: Create Issue From File
      if: steps.linkcheck.outputs.exit_code != 0
      uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710 # v6.0.0
      with:
        title: Link Checker Report
        content-filepath: /tmp/lychee_output.md
        labels: |
          kind/bug
